<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>study</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Filter -->
    <!--<filter>-->
    <!--<filter-name>timerFilter</filter-name>-->
    <!--<filter-class>com.filter.TimerFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
    <!--<filter-name>timerFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>charFilter</filter-name>-->
        <!--<filter-class>com.filter.CharFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>charset</param-name>-->
            <!--<param-value>utf-8</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>charFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>loginFilter</filter-name>-->
        <!--<filter-class>com.filter.LoginFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>loginFilter</filter-name>-->
        <!--<url-pattern>/boarder/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- Listener -->
    <!--<listener>-->
        <!--<listener-class>com.event.CountManager</listener-class>-->
    <!--</listener>-->

    <!--<listener>-->
        <!--<listener-class>com.event.ContextListenerTest</listener-class>-->
    <!--</listener>-->

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <servlet-name>TalentServlet</servlet-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>TalentServlet</servlet-name>
        <servlet-class>com.talent.TalentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TalentServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>