/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(/temporary/resources/css/NanumGothic-Regular.eot);
  src: url(/temporary/resources/css/NanumGothic-Regular.eot@#iefix) format('embedded-opentype'),
       url(/temporary/resources/css/NanumGothic-Regular.woff2) format('woff2'),
       url(/temporary/resources/css/NanumGothic-Regular.woff) format('woff'),
       url(/temporary/resources/css/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(/temporary/resources/css/NanumGothic-Bold.eot);
  src: url(/temporary/resources/css/NanumGothic-Bold.eot@#iefix) format('embedded-opentype'),
       url(/temporary/resources/css/NanumGothic-Bold.woff2) format('woff2'),
       url(/temporary/resources/css/NanumGothic-Bold.woff) format('woff'),
       url(/temporary/resources/css/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(/temporary/resources/css/NanumGothic-ExtraBold.eot);
  src: url(/temporary/resources/css/NanumGothic-ExtraBold.eot@#iefix) format('embedded-opentype'),
       url(/temporary/resources/css/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(/temporary/resources/css/NanumGothic-ExtraBold.woff) format('woff'),
       url(/temporary/resources/css/NanumGothic-ExtraBold.ttf) format('truetype');
}
